# Задание

# Основы работы с Apache Spark
Изучите теоретическую часть.

In [1]:
# Настраиваем переменные окружения для работы с Apache Spark
import os
os.environ["JAVA_HOME"] = "C:/Program Files/Java/jdk-19"
os.environ["SPARK_HOME"] = "C:/Program Files/spark-3.3.1-bin-hadoop3"
# Находим установку Spark
import findspark
findspark.init()
# Подключаем необходимые модули для работы со Spark из Python
from pyspark.sql import SparkSession
# Создаем сессию Spark на локальном компьютере
spark = SparkSession.builder.master("local[*]").getOrCreate()
!wget https://datahub.io/core/world-cities/r/world-cities.json -O ./Data/world-cities.json -q

## Задача 1

Модернизируйте заготовку заменив все участки ```<put your code here>``` на ваш код для того, что бы:
* выводить на экран схему кадра данных
* вычислять и выводить на экран в порядке убывания количества городов страны сгруппированные по стране и региону

Пример вывода на экран:
```
root
 |-- country: string (nullable = true)
 |-- geonameid: long (nullable = true)
 |-- name: string (nullable = true)
 |-- subcountry: string (nullable = true)

+--------------+----------+----+
|       country|subcountry| cnt|
+--------------+----------+----+
| United States|        51|2699|
|         India|        35|2443|
|        Brazil|        27|1200|
|        Russia|        82|1093|
|       Germany|        16|1055|
|         China|        31| 799|
|         Japan|        47| 736|
|        France|        13| 633|
|         Italy|        20| 571|
|         Spain|        19| 569|
|        Mexico|        32| 561|
|United Kingdom|         4| 513|
|   Philippines|        17| 439|
|        Turkey|        81| 383|
|     Indonesia|        35| 372|
|        Poland|        16| 327|
|      Pakistan|         6| 312|
|   Netherlands|        12| 258|
|       Ukraine|        27| 257|
|       Algeria|        47| 247|
+--------------+----------+----+
only showing top 20 rows
```

In [2]:
from pyspark.sql.functions import count, col, countDistinct, desc
df = spark.read.json("./Data/world-cities.json")

**Выводим схему кадра данных**

In [3]:
df.printSchema()

root
 |-- country: string (nullable = true)
 |-- geonameid: long (nullable = true)
 |-- name: string (nullable = true)
 |-- subcountry: string (nullable = true)

**Выводим страны, сгруппированные по необходимым признакам**

In [4]:
df.groupBy("country").agg(countDistinct(col('subcountry')).alias('subcountry'),count(col("*")).alias('cnt')).orderBy(desc('cnt')).show()

+--------------+----------+----+
|       country|subcountry| cnt|
+--------------+----------+----+
| United States|        51|2699|
|         India|        35|2443|
|        Brazil|        27|1200|
|        Russia|        82|1093|
|       Germany|        16|1055|
|         China|        31| 799|
|         Japan|        47| 736|
|        France|        13| 633|
|         Italy|        20| 571|
|         Spain|        19| 569|
|        Mexico|        32| 561|
|United Kingdom|         4| 513|
|   Philippines|        17| 439|
|        Turkey|        81| 383|
|     Indonesia|        35| 372|
|        Poland|        16| 327|
|      Pakistan|         6| 312|
|   Netherlands|        12| 258|
|       Ukraine|        27| 257|
|       Algeria|        47| 247|
+--------------+----------+----+
only showing top 20 rows