### Задание

Изучите теоретическую часть и пример представленный ниже. В примере по файлу sample_data/mnist_test.csv вычисляется сумма целочисленной первой колонки.  
  
  
parseFirstInt = lambda strList: int(strList[0]) # берем только первую колонку и преобразуем в число   
def parseLine(s):  
  return parseFirstInt(s.split(',')) # расщепили строку на список  
sum = 0  
with open('sample_data/mnist_test.csv') as f:  
  for line in f:      
    sum = sum + parseLine(line) # что бы суммировать   
sum  

Модернизируйте заготовку заменив все участки <put your code here> на ваш код для того, что бы:  

- пропускать первую строку c заголовком для файла sample_data/california_housing_test.csv  
- приводить нужные колонки (по индексу) к типу с плавающей запятой (float)  
- вычислять средние значени в колонках: housing_median_age, total_rooms, population  
  
  
parseIndexedDoubleCol = lambda <put your code here> # реализуйте метод преобразующий колонку с индексом в число с плавающей запятой (float  
#https://docs.python.org/3/library/functions.html  

def parseLine(s):  
  <put your code here>  
  return <put your code here>  

def average(<put your code here>): # реализуйте метод вычисляющий среднее как сумму разделённую на количество  
  return <put your code here>   

<put your code here>  

with open('sample_data/california_housing_test.csv') as f:  
  for line in f:      
    <put your code here>

#### Пример

In [1]:
parseFirstInt = lambda strList: int(strList[0])
def parseLine(s):
    return parseFirstInt(s.split(',')) # расщепили строку на список

sum = 0
with open('./Data/mnist_test.csv') as f:
    for line in f:
        sum = sum + parseLine(line) # что бы суммировать
sum

44434

Проверим средствами pandas

In [2]:
import pandas as pd
df = pd.read_csv('./Data/mnist_test.csv', delimiter = ',', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
total = df[0].sum()
total

44434

In [4]:
sum == total

True

### Выполнение задания

Модернизируйте заготовку заменив все участки на ваш код для того, что бы:

*- пропускать первую строку c заголовком для файла sample_data/california_housing_test.csv*

*-приводить нужные колонки (по индексу) к типу с плавающей запятой (float)*

*- вычислять средние значени в колонках: housing_median_age, total_rooms, population*

In [5]:
import pandas as pd
df = pd.read_csv('./Data/california_housing_test.csv', delimiter = ',')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

Получим номера колонок для выборки

In [6]:
idx = ['housing_median_age', 'total_rooms', 'population']
index = [df.columns.get_loc(i) for i in idx]
idx_dict = dict(zip(index,idx))
index

[2, 3, 5]

In [7]:
idx_dict

{2: 'housing_median_age', 3: 'total_rooms', 5: 'population'}

In [8]:
i = 0
parseIndexedDoubleCol = lambda strList: float(strList[i])

def parseLine(string):
    return parseIndexedDoubleCol(string.split(','))

In [9]:
def average(sum_colum,len_colum): # реализуйте метод вычисляющий среднее как сумму разделённую на количество
    return round(sum_colum/len_colum, 2)

In [10]:
for i in index:
    s = 0
    n = 0
    with open('./Data/california_housing_test.csv') as f:
        for line in f:
            if n==0:
                n+=1
                continue
            else:
                s = s + parseLine(line)
                n+=1
        n-=1
        avg = average(s,n)
        print(f'Строка {idx_dict[i]}, ее индекс {i}, среднее значение {avg}')

Строка housing_median_age, ее индекс 2, среднее значение 28.85
Строка total_rooms, ее индекс 3, среднее значение 2599.58
Строка population, ее индекс 5, среднее значение 1402.8

Проверим средствами pandas

In [11]:
for i in idx:
    print(round(df[i].mean(),2))

28.85
2599.58
1402.8

Значения совпадают!